@theme {
  --color-neutral-light-1: var(--color-slate-light-1);
  --color-neutral-light-2: var(--color-slate-light-2);
  --color-neutral-light-3: var(--color-slate-light-3);
  --color-neutral-light-4: var(--color-slate-light-4);
  --color-neutral-light-5: var(--color-slate-light-5);
  --color-neutral-light-6: var(--color-slate-light-6);
  --color-neutral-light-7: var(--color-slate-light-7);
  --color-neutral-light-8: var(--color-slate-light-8);
  --color-neutral-light-9: var(--color-slate-light-9);
  --color-neutral-light-10: var(--color-slate-light-10);
  --color-neutral-light-11: var(--color-slate-light-11);
  --color-neutral-light-12: var(--color-slate-light-12);
  --color-neutral-light-a-1: var(--color-slate-light-a-1);
  --color-neutral-light-a-2: var(--color-slate-light-a-2);
  --color-neutral-light-a-3: var(--color-slate-light-a-3);
  --color-neutral-light-a-4: var(--color-slate-light-a-4);
  --color-neutral-light-a-5: var(--color-slate-light-a-5);
  --color-neutral-light-a-6: var(--color-slate-light-a-6);
  --color-neutral-light-a-7: var(--color-slate-light-a-7);
  --color-neutral-light-a-8: var(--color-slate-light-a-8);
  --color-neutral-light-a-9: var(--color-slate-light-a-9);
  --color-neutral-light-a-10: var(--color-slate-light-a-10);
  --color-neutral-light-a-11: var(--color-slate-light-a-11);
  --color-neutral-light-a-12: var(--color-slate-light-a-12);
  --color-neutral-dark-1: var(--color-slate-dark-1);
  --color-neutral-dark-2: var(--color-slate-dark-2);
  --color-neutral-dark-3: var(--color-slate-dark-3);
  --color-neutral-dark-4: var(--color-slate-dark-4);
  --color-neutral-dark-5: var(--color-slate-dark-5);
  --color-neutral-dark-6: var(--color-slate-dark-6);
  --color-neutral-dark-7: var(--color-slate-dark-7);
  --color-neutral-dark-8: var(--color-slate-dark-8);
  --color-neutral-dark-9: var(--color-slate-dark-9);
  --color-neutral-dark-10: var(--color-slate-dark-10);
  --color-neutral-dark-11: var(--color-slate-dark-11);
  --color-neutral-dark-12: var(--color-slate-dark-12);
  --color-neutral-dark-a-1: var(--color-slate-dark-a-1);
  --color-neutral-dark-a-2: var(--color-slate-dark-a-2);
  --color-neutral-dark-a-3: var(--color-slate-dark-a-3);
  --color-neutral-dark-a-4: var(--color-slate-dark-a-4);
  --color-neutral-dark-a-5: var(--color-slate-dark-a-5);
  --color-neutral-dark-a-6: var(--color-slate-dark-a-6);
  --color-neutral-dark-a-7: var(--color-slate-dark-a-7);
  --color-neutral-dark-a-8: var(--color-slate-dark-a-8);
  --color-neutral-dark-a-9: var(--color-slate-dark-a-9);
  --color-neutral-dark-a-10: var(--color-slate-dark-a-10);
  --color-neutral-dark-a-11: var(--color-slate-dark-a-11);
  --color-neutral-dark-a-12: var(--color-slate-dark-a-12);
  --color-positive-light-1: var(--color-grass-light-1);
  --color-positive-light-2: var(--color-grass-light-2);
  --color-positive-light-3: var(--color-grass-light-3);
  --color-positive-light-4: var(--color-grass-light-4);
  --color-positive-light-5: var(--color-grass-light-5);
  --color-positive-light-6: var(--color-grass-light-6);
  --color-positive-light-7: var(--color-grass-light-7);
  --color-positive-light-8: var(--color-grass-light-8);
  --color-positive-light-9: var(--color-grass-light-9);
  --color-positive-light-10: var(--color-grass-light-10);
  --color-positive-light-11: var(--color-grass-light-11);
  --color-positive-light-12: var(--color-grass-light-12);
  --color-positive-light-a-1: var(--color-grass-light-a-1);
  --color-positive-light-a-2: var(--color-grass-light-a-2);
  --color-positive-light-a-3: var(--color-grass-light-a-3);
  --color-positive-light-a-4: var(--color-grass-light-a-4);
  --color-positive-light-a-5: var(--color-grass-light-a-5);
  --color-positive-light-a-6: var(--color-grass-light-a-6);
  --color-positive-light-a-7: var(--color-grass-light-a-7);
  --color-positive-light-a-8: var(--color-grass-light-a-8);
  --color-positive-light-a-9: var(--color-grass-light-a-9);
  --color-positive-light-a-10: var(--color-grass-light-a-10);
  --color-positive-light-a-11: var(--color-grass-light-a-11);
  --color-positive-light-a-12: var(--color-grass-light-a-12);
  --color-positive-dark-1: var(--color-grass-dark-1);
  --color-positive-dark-2: var(--color-grass-dark-2);
  --color-positive-dark-3: var(--color-grass-dark-3);
  --color-positive-dark-4: var(--color-grass-dark-4);
  --color-positive-dark-5: var(--color-grass-dark-5);
  --color-positive-dark-6: var(--color-grass-dark-6);
  --color-positive-dark-7: var(--color-grass-dark-7);
  --color-positive-dark-8: var(--color-grass-dark-8);
  --color-positive-dark-9: var(--color-grass-dark-9);
  --color-positive-dark-10: var(--color-grass-dark-10);
  --color-positive-dark-11: var(--color-grass-dark-11);
  --color-positive-dark-12: var(--color-grass-dark-12);
  --color-positive-dark-a-1: var(--color-grass-dark-a-1);
  --color-positive-dark-a-2: var(--color-grass-dark-a-2);
  --color-positive-dark-a-3: var(--color-grass-dark-a-3);
  --color-positive-dark-a-4: var(--color-grass-dark-a-4);
  --color-positive-dark-a-5: var(--color-grass-dark-a-5);
  --color-positive-dark-a-6: var(--color-grass-dark-a-6);
  --color-positive-dark-a-7: var(--color-grass-dark-a-7);
  --color-positive-dark-a-8: var(--color-grass-dark-a-8);
  --color-positive-dark-a-9: var(--color-grass-dark-a-9);
  --color-positive-dark-a-10: var(--color-grass-dark-a-10);
  --color-positive-dark-a-11: var(--color-grass-dark-a-11);
  --color-positive-dark-a-12: var(--color-grass-dark-a-12);
  --color-warning-light-1: var(--color-amber-light-1);
  --color-warning-light-2: var(--color-amber-light-2);
  --color-warning-light-3: var(--color-amber-light-3);
  --color-warning-light-4: var(--color-amber-light-4);
  --color-warning-light-5: var(--color-amber-light-5);
  --color-warning-light-6: var(--color-amber-light-6);
  --color-warning-light-7: var(--color-amber-light-7);
  --color-warning-light-8: var(--color-amber-light-8);
  --color-warning-light-9: var(--color-amber-light-9);
  --color-warning-light-10: var(--color-amber-light-10);
  --color-warning-light-11: var(--color-amber-light-11);
  --color-warning-light-12: var(--color-amber-light-12);
  --color-warning-light-a-1: var(--color-amber-light-a-1);
  --color-warning-light-a-2: var(--color-amber-light-a-2);
  --color-warning-light-a-3: var(--color-amber-light-a-3);
  --color-warning-light-a-4: var(--color-amber-light-a-4);
  --color-warning-light-a-5: var(--color-amber-light-a-5);
  --color-warning-light-a-6: var(--color-amber-light-a-6);
  --color-warning-light-a-7: var(--color-amber-light-a-7);
  --color-warning-light-a-8: var(--color-amber-light-a-8);
  --color-warning-light-a-9: var(--color-amber-light-a-9);
  --color-warning-light-a-10: var(--color-amber-light-a-10);
  --color-warning-light-a-11: var(--color-amber-light-a-11);
  --color-warning-light-a-12: var(--color-amber-light-a-12);
  --color-warning-dark-1: var(--color-amber-dark-1);
  --color-warning-dark-2: var(--color-amber-dark-2);
  --color-warning-dark-3: var(--color-amber-dark-3);
  --color-warning-dark-4: var(--color-amber-dark-4);
  --color-warning-dark-5: var(--color-amber-dark-5);
  --color-warning-dark-6: var(--color-amber-dark-6);
  --color-warning-dark-7: var(--color-amber-dark-7);
  --color-warning-dark-8: var(--color-amber-dark-8);
  --color-warning-dark-9: var(--color-amber-dark-9);
  --color-warning-dark-10: var(--color-amber-dark-10);
  --color-warning-dark-11: var(--color-amber-dark-11);
  --color-warning-dark-12: var(--color-amber-dark-12);
  --color-warning-dark-a-1: var(--color-amber-dark-a-1);
  --color-warning-dark-a-2: var(--color-amber-dark-a-2);
  --color-warning-dark-a-3: var(--color-amber-dark-a-3);
  --color-warning-dark-a-4: var(--color-amber-dark-a-4);
  --color-warning-dark-a-5: var(--color-amber-dark-a-5);
  --color-warning-dark-a-6: var(--color-amber-dark-a-6);
  --color-warning-dark-a-7: var(--color-amber-dark-a-7);
  --color-warning-dark-a-8: var(--color-amber-dark-a-8);
  --color-warning-dark-a-9: var(--color-amber-dark-a-9);
  --color-warning-dark-a-10: var(--color-amber-dark-a-10);
  --color-warning-dark-a-11: var(--color-amber-dark-a-11);
  --color-warning-dark-a-12: var(--color-amber-dark-a-12);
  --color-critical-light-1: var(--color-tomato-light-1);
  --color-critical-light-2: var(--color-tomato-light-2);
  --color-critical-light-3: var(--color-tomato-light-3);
  --color-critical-light-4: var(--color-tomato-light-4);
  --color-critical-light-5: var(--color-tomato-light-5);
  --color-critical-light-6: var(--color-tomato-light-6);
  --color-critical-light-7: var(--color-tomato-light-7);
  --color-critical-light-8: var(--color-tomato-light-8);
  --color-critical-light-9: var(--color-tomato-light-9);
  --color-critical-light-10: var(--color-tomato-light-10);
  --color-critical-light-11: var(--color-tomato-light-11);
  --color-critical-light-12: var(--color-tomato-light-12);
  --color-critical-light-a-1: var(--color-tomato-light-a-1);
  --color-critical-light-a-2: var(--color-tomato-light-a-2);
  --color-critical-light-a-3: var(--color-tomato-light-a-3);
  --color-critical-light-a-4: var(--color-tomato-light-a-4);
  --color-critical-light-a-5: var(--color-tomato-light-a-5);
  --color-critical-light-a-6: var(--color-tomato-light-a-6);
  --color-critical-light-a-7: var(--color-tomato-light-a-7);
  --color-critical-light-a-8: var(--color-tomato-light-a-8);
  --color-critical-light-a-9: var(--color-tomato-light-a-9);
  --color-critical-light-a-10: var(--color-tomato-light-a-10);
  --color-critical-light-a-11: var(--color-tomato-light-a-11);
  --color-critical-light-a-12: var(--color-tomato-light-a-12);
  --color-critical-dark-1: var(--color-tomato-dark-1);
  --color-critical-dark-2: var(--color-tomato-dark-2);
  --color-critical-dark-3: var(--color-tomato-dark-3);
  --color-critical-dark-4: var(--color-tomato-dark-4);
  --color-critical-dark-5: var(--color-tomato-dark-5);
  --color-critical-dark-6: var(--color-tomato-dark-6);
  --color-critical-dark-7: var(--color-tomato-dark-7);
  --color-critical-dark-8: var(--color-tomato-dark-8);
  --color-critical-dark-9: var(--color-tomato-dark-9);
  --color-critical-dark-10: var(--color-tomato-dark-10);
  --color-critical-dark-11: var(--color-tomato-dark-11);
  --color-critical-dark-12: var(--color-tomato-dark-12);
  --color-critical-dark-a-1: var(--color-tomato-dark-a-1);
  --color-critical-dark-a-2: var(--color-tomato-dark-a-2);
  --color-critical-dark-a-3: var(--color-tomato-dark-a-3);
  --color-critical-dark-a-4: var(--color-tomato-dark-a-4);
  --color-critical-dark-a-5: var(--color-tomato-dark-a-5);
  --color-critical-dark-a-6: var(--color-tomato-dark-a-6);
  --color-critical-dark-a-7: var(--color-tomato-dark-a-7);
  --color-critical-dark-a-8: var(--color-tomato-dark-a-8);
  --color-critical-dark-a-9: var(--color-tomato-dark-a-9);
  --color-critical-dark-a-10: var(--color-tomato-dark-a-10);
  --color-critical-dark-a-11: var(--color-tomato-dark-a-11);
  --color-critical-dark-a-12: var(--color-tomato-dark-a-12);
  --color-info-light-1: var(--color-blue-light-1);
  --color-info-light-2: var(--color-blue-light-2);
  --color-info-light-3: var(--color-blue-light-3);
  --color-info-light-4: var(--color-blue-light-4);
  --color-info-light-5: var(--color-blue-light-5);
  --color-info-light-6: var(--color-blue-light-6);
  --color-info-light-7: var(--color-blue-light-7);
  --color-info-light-8: var(--color-blue-light-8);
  --color-info-light-9: var(--color-blue-light-9);
  --color-info-light-10: var(--color-blue-light-10);
  --color-info-light-11: var(--color-blue-light-11);
  --color-info-light-12: var(--color-blue-light-12);
  --color-info-light-a-1: var(--color-blue-light-a-1);
  --color-info-light-a-2: var(--color-blue-light-a-2);
  --color-info-light-a-3: var(--color-blue-light-a-3);
  --color-info-light-a-4: var(--color-blue-light-a-4);
  --color-info-light-a-5: var(--color-blue-light-a-5);
  --color-info-light-a-6: var(--color-blue-light-a-6);
  --color-info-light-a-7: var(--color-blue-light-a-7);
  --color-info-light-a-8: var(--color-blue-light-a-8);
  --color-info-light-a-9: var(--color-blue-light-a-9);
  --color-info-light-a-10: var(--color-blue-light-a-10);
  --color-info-light-a-11: var(--color-blue-light-a-11);
  --color-info-light-a-12: var(--color-blue-light-a-12);
  --color-info-dark-1: var(--color-blue-dark-1);
  --color-info-dark-2: var(--color-blue-dark-2);
  --color-info-dark-3: var(--color-blue-dark-3);
  --color-info-dark-4: var(--color-blue-dark-4);
  --color-info-dark-5: var(--color-blue-dark-5);
  --color-info-dark-6: var(--color-blue-dark-6);
  --color-info-dark-7: var(--color-blue-dark-7);
  --color-info-dark-8: var(--color-blue-dark-8);
  --color-info-dark-9: var(--color-blue-dark-9);
  --color-info-dark-10: var(--color-blue-dark-10);
  --color-info-dark-11: var(--color-blue-dark-11);
  --color-info-dark-12: var(--color-blue-dark-12);
  --color-info-dark-a-1: var(--color-blue-dark-a-1);
  --color-info-dark-a-2: var(--color-blue-dark-a-2);
  --color-info-dark-a-3: var(--color-blue-dark-a-3);
  --color-info-dark-a-4: var(--color-blue-dark-a-4);
  --color-info-dark-a-5: var(--color-blue-dark-a-5);
  --color-info-dark-a-6: var(--color-blue-dark-a-6);
  --color-info-dark-a-7: var(--color-blue-dark-a-7);
  --color-info-dark-a-8: var(--color-blue-dark-a-8);
  --color-info-dark-a-9: var(--color-blue-dark-a-9);
  --color-info-dark-a-10: var(--color-blue-dark-a-10);
  --color-info-dark-a-11: var(--color-blue-dark-a-11);
  --color-info-dark-a-12: var(--color-blue-dark-a-12);
  --color-accent-light-1: var(--color-grass-light-1);
  --color-accent-light-2: var(--color-grass-light-2);
  --color-accent-light-3: var(--color-grass-light-3);
  --color-accent-light-4: var(--color-grass-light-4);
  --color-accent-light-5: var(--color-grass-light-5);
  --color-accent-light-6: var(--color-grass-light-6);
  --color-accent-light-7: var(--color-grass-light-7);
  --color-accent-light-8: var(--color-grass-light-8);
  --color-accent-light-9: var(--color-grass-light-9);
  --color-accent-light-10: var(--color-grass-light-10);
  --color-accent-light-11: var(--color-grass-light-11);
  --color-accent-light-12: var(--color-grass-light-12);
  --color-accent-light-a-1: var(--color-grass-light-a-1);
  --color-accent-light-a-2: var(--color-grass-light-a-2);
  --color-accent-light-a-3: var(--color-grass-light-a-3);
  --color-accent-light-a-4: var(--color-grass-light-a-4);
  --color-accent-light-a-5: var(--color-grass-light-a-5);
  --color-accent-light-a-6: var(--color-grass-light-a-6);
  --color-accent-light-a-7: var(--color-grass-light-a-7);
  --color-accent-light-a-8: var(--color-grass-light-a-8);
  --color-accent-light-a-9: var(--color-grass-light-a-9);
  --color-accent-light-a-10: var(--color-grass-light-a-10);
  --color-accent-light-a-11: var(--color-grass-light-a-11);
  --color-accent-light-a-12: var(--color-grass-light-a-12);
  --color-accent-dark-1: var(--color-grass-dark-1);
  --color-accent-dark-2: var(--color-grass-dark-2);
  --color-accent-dark-3: var(--color-grass-dark-3);
  --color-accent-dark-4: var(--color-grass-dark-4);
  --color-accent-dark-5: var(--color-grass-dark-5);
  --color-accent-dark-6: var(--color-grass-dark-6);
  --color-accent-dark-7: var(--color-grass-dark-7);
  --color-accent-dark-8: var(--color-grass-dark-8);
  --color-accent-dark-9: var(--color-grass-dark-9);
  --color-accent-dark-10: var(--color-grass-dark-10);
  --color-accent-dark-11: var(--color-grass-dark-11);
  --color-accent-dark-12: var(--color-grass-dark-12);
  --color-accent-dark-a-1: var(--color-grass-dark-a-1);
  --color-accent-dark-a-2: var(--color-grass-dark-a-2);
  --color-accent-dark-a-3: var(--color-grass-dark-a-3);
  --color-accent-dark-a-4: var(--color-grass-dark-a-4);
  --color-accent-dark-a-5: var(--color-grass-dark-a-5);
  --color-accent-dark-a-6: var(--color-grass-dark-a-6);
  --color-accent-dark-a-7: var(--color-grass-dark-a-7);
  --color-accent-dark-a-8: var(--color-grass-dark-a-8);
  --color-accent-dark-a-9: var(--color-grass-dark-a-9);
  --color-accent-dark-a-10: var(--color-grass-dark-a-10);
  --color-accent-dark-a-11: var(--color-grass-dark-a-11);
  --color-accent-dark-a-12: var(--color-grass-dark-a-12);
}